:root{
    --header-size: 50px;
    --list-item-height: 40px;
    --gap-size: 5px;
    
    --theme-color-0: #FFF;
    --theme-color-1: #DDD;
    --theme-color-2: #BBB;
    --font-color: #000;
}

@media (prefers-color-scheme: dark) {
    :root{
        --theme-color-0: #333;
        --theme-color-1: #555;
        --theme-color-2: #777;
        --font-color: #FFF;
    }
}

*{
    color: var(--font-color);
    font-family: sans-serif;
    box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"]{
    display: none;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr;
    touch-action: pan-x pan-y;
    overflow: hidden;
}

header{
    width: 100%;
    height: var(--header-size);
    background-color: var(--theme-color-0);
}

header>label{
    position: fixed;
    width: var(--header-size);
    height: var(--header-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--header-size);
    font-family: initial;
}

header>h1{
    height: var(--header-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: calc(var(--header-size) / 2);
}

nav{
    position: fixed;
    left: 0;
    top: var(--header-size);
    width: 100%;
    height: calc(100% - var(--header-size));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--theme-color-1);
    padding: var(--gap-size);
    transform: translate(-100%, 0);
    transition: transform 0.5s;
    z-index: 1;
}

#navToggle:checked+nav{
    transform: translate(0, 0);
}

nav>label{
    font-size: larger;
}

main>section{
    width: 100%;
    height: 100%;
    background-color: var(--theme-color-2);
    padding: var(--gap-size);
    display: none;
}

#questionScreen:checked+section{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    font-size: large;
}

#questionScreen:checked+section>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-size);
    font-size: inherit;
}

#questionScreen:checked+section>form>*{
    width: 75%;
    height: 50%;
    background-color: var(--theme-color-0);
    border-radius: 5px;
    text-align: center;
    border: 5px solid transparent;
    font-size: inherit;
}

#questionScreen:checked+section>form.optionChosen>.chosenOption.correctOption{
    border: 5px solid #0F3;
}

#questionScreen:checked+section>form.optionChosen>.correctOption{
    border: 5px dashed #0F3;
}

#questionScreen:checked+section>form.optionChosen>.chosenOption.wrongOption{
    border: 5px dashed #F30;
}

#questionLabel{
    display: flex;
    text-align: center;
    background-color: var(--theme-color-1);
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: var(--gap-size);
    border-radius: 5px;
}

main{
    height: calc(100vh - var(--header-size));
}

#listScreen:checked+section{
    display: block;
    flex-direction: column;
    overflow-y: scroll;
}

#listScreen:checked+section>label{
    display: grid;
    width: 100%;
    height: var(--list-item-height);
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: var(--theme-color-1);
    padding: 0 var(--gap-size);
    margin: var(--gap-size) 0;
}

#listScreen:checked+section>label>*:first-child{
    margin: 0;
}

#listScreen:checked+section>label>*:last-child{
    width: var(--list-item-height);
    height: var(--list-item-height);
    background-color: var(--font-color);
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 40 40' xml:space='preserve'%3E%3Cg transform-origin='20 20' transform='scale(2)'%3E%3Cpath d='M19.4,23c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l1.9-1.9c0.1-0.1,0.1-0.3,0-0.5l-1.9-1.9c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l1.9,1.9c0.5,0.5,0.5,1.4,0,1.9l-1.9,1.9C19.7,23,19.6,23,19.4,23z'/%3E%3C/g%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 40 40' xml:space='preserve'%3E%3Cg transform-origin='20 20' transform='scale(2)'%3E%3Cpath d='M19.4,23c-0.1,0-0.3,0-0.4-0.1c-0.2-0.2-0.2-0.5,0-0.7l1.9-1.9c0.1-0.1,0.1-0.3,0-0.5l-1.9-1.9c-0.2-0.2-0.2-0.5,0-0.7s0.5-0.2,0.7,0l1.9,1.9c0.5,0.5,0.5,1.4,0,1.9l-1.9,1.9C19.7,23,19.6,23,19.4,23z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-mask-size: var(--searchResultHeight) var(--searchResultHeight);
    mask-size: var(--searchResultHeight) var(--searchResultHeight);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: var(--list-item-height) var(--list-item-height);
    mask-size: var(--list-item-height) var(--list-item-height);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

#listScreen:checked+section>div{
    display: grid;
    grid-auto-rows: var(--list-item-height);
    gap: var(--gap-size);
    overflow: hidden;
    transition: height 0.5s;
}

#listScreen:checked+section>input:not(:checked)+label+div{
    height: 0 !important;
}

#listScreen:checked+section>div>*{
    background-color: var(--theme-color-0);
    border-radius: 5px;
    border: none;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    text-align: left;
}

#listScreen:checked+section>div>*>span:empty{
    width: 10px;
    height: 10px;
    background-color: #999;
    border-radius: 50%;
    margin-right: var(--gap-size);
}

#listScreen:checked+section>*:last-child{
    margin-bottom: calc(100vh - var(--header-size) - var(--list-item-height) - 3 * var(--gap-size));
}

#statisticScreen:checked+section{
    display: flex;
    align-items: center;
    justify-content: center;
}

#statisticScreen:checked+section>canvas{
    width: min(90vw, calc(0.9 * (100vh - var(--header-size))));
    height: min(90vw, calc(0.9 * (100vh - var(--header-size))));
}
